verjinZang.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -592,
        112
      ],
      "id": "21fbd250-690a-40a4-8ac0-e928146cd7ee",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "url",
              "value": "=https://www.youtube.com/watch?v={{ $('If').item.json.id.videoId }}"
            },
            {
              "name": "title",
              "value": "={{ $('If').item.json.snippet.title }}"
            }
          ],
          "boolean": []
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "position": [
        448,
        0
      ],
      "typeVersion": 1,
      "id": "d5f1aeb7-1687-4303-ba48-4e53e69239db"
    },
    {
      "parameters": {
        "resource": "video",
        "returnAll": true,
        "filters": {
          "channelId": "UC_yoNMPdmbZFK-ctvNJ_2Kg",
          "publishedAfter": "={{ new Date(Date.now() - 10 * 60 * 1000).toISOString() }}"
        },
        "options": {}
      },
      "id": "83eec617-15d2-45bc-8522-0b27c2a263da",
      "name": "Get many videos",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        -400,
        112
      ],
      "alwaysOutputData": true,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "ysNkks8HTqKFqWEc",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2339f38a-c933-44fc-9ed7-ba66395e07a0",
              "leftValue": "={{ $json.snippet.title.toLowerCase() }}",
              "rightValue": "վերջին զանգ",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "e4977862-8986-4d29-b057-078cdcbd811d",
              "leftValue": "={{ $json.snippet.title.toLowerCase() }}",
              "rightValue": "անոնս",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -176,
        112
      ],
      "id": "af0d85e5-e634-43c6-8090-088ff75a125e",
      "name": "If"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "13vWnP0i4hxw1XnfzUDQBS_rIqo11sBg8wNwj_DO80qU",
          "mode": "list",
          "cachedResultName": "verjin zang anons",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13vWnP0i4hxw1XnfzUDQBS_rIqo11sBg8wNwj_DO80qU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13vWnP0i4hxw1XnfzUDQBS_rIqo11sBg8wNwj_DO80qU/edit#gid=0"
        },
        "options": {}
      },
      "name": "Get Chat IDs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        608,
        0
      ],
      "id": "36d8d703-eda8-401f-9af4-1b7479475e2d",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PlQLiimNI8sJ6Z77",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        400
      ],
      "id": "35a1792a-a44b-48c6-823a-7422b8993cff",
      "webhookId": "9eee5fc4-4bce-44a3-9c74-4fe3dfc0301b",
      "credentials": {
        "telegramApi": {
          "id": "pWBWhbvKQEjT4fMk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "13vWnP0i4hxw1XnfzUDQBS_rIqo11sBg8wNwj_DO80qU",
          "mode": "list",
          "cachedResultName": "verjin zang anons",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13vWnP0i4hxw1XnfzUDQBS_rIqo11sBg8wNwj_DO80qU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13vWnP0i4hxw1XnfzUDQBS_rIqo11sBg8wNwj_DO80qU/edit#gid=0"
        },
        "options": {}
      },
      "name": "Get Existing IDs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -368,
        400
      ],
      "id": "f36e49ad-d438-4485-9004-a0082c67207f",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PlQLiimNI8sJ6Z77",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "13vWnP0i4hxw1XnfzUDQBS_rIqo11sBg8wNwj_DO80qU",
          "mode": "list",
          "cachedResultName": "verjin zang anons",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13vWnP0i4hxw1XnfzUDQBS_rIqo11sBg8wNwj_DO80qU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13vWnP0i4hxw1XnfzUDQBS_rIqo11sBg8wNwj_DO80qU/edit#gid=0"
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id",
              "fieldValue": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Save Chat ID",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        256,
        288
      ],
      "id": "e32ba9f9-ac6b-4669-a5a0-e614b25af0ad",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PlQLiimNI8sJ6Z77",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{$json[\"isNew\"]}}",
              "rightValue": "=",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "id": "dd228d62-75e1-440a-befd-8a7c9c5df2f3"
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "name": "If New ID",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        48,
        400
      ],
      "id": "90ef189b-b862-4174-9795-648717703765"
    },
    {
      "parameters": {
        "jsCode": "return $items(\"Get Chat IDs\").map(item => {\n  return {\n    json: {\n      chatId: item.json.id.toString(),\n      message: `${$('Set').first().json.title}\\n${$('Set').first().json.url}`\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        0
      ],
      "id": "9f7bf693-3be6-43ca-a51c-3fa9402d8001",
      "name": "Code"
    },
    {
      "parameters": {
        "chatId": "={{$json.chatId}}",
        "text": "={{$json.message}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        0
      ],
      "id": "4ca74bf6-cf07-4989-ac4c-e18976c2bee1",
      "name": "Send a text message",
      "webhookId": "ab2b535f-962d-4735-9bc0-38c75916ef0c",
      "credentials": {
        "telegramApi": {
          "id": "pWBWhbvKQEjT4fMk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Incoming Telegram ID\nconst incomingId = String($items(\"Telegram Trigger\")[0].json.message.from.id).trim();\n\n// All existing IDs from the sheet\nconst existingIds = $input.all().map(item => String(item.json.id).trim());\n\n// Output true/false if new\nreturn [\n  {\n    json: {\n      isNew: !existingIds.includes(incomingId),\n      id: incomingId\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        400
      ],
      "id": "5b966b23-e8d0-48f7-8aff-2c86e2e49490",
      "name": "Code1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "13vWnP0i4hxw1XnfzUDQBS_rIqo11sBg8wNwj_DO80qU",
          "mode": "list",
          "cachedResultName": "verjin zang anons",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13vWnP0i4hxw1XnfzUDQBS_rIqo11sBg8wNwj_DO80qU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1597485469,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13vWnP0i4hxw1XnfzUDQBS_rIqo11sBg8wNwj_DO80qU/edit#gid=1597485469"
        },
        "options": {}
      },
      "name": "Get Existing videoids",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        64,
        32
      ],
      "id": "343d7e75-84a0-4871-9dbf-c9347073b995",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PlQLiimNI8sJ6Z77",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "b245df43-82f5-4000-90de-5a5315b8e311",
              "leftValue": "={{ $json.videoid }}",
              "rightValue": "={{ $('Get many videos').item.json.id.videoId }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        256,
        32
      ],
      "id": "3f0241f5-ebd5-484f-8246-3d49f4b334ab",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "13vWnP0i4hxw1XnfzUDQBS_rIqo11sBg8wNwj_DO80qU",
          "mode": "list",
          "cachedResultName": "verjin zang anons",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13vWnP0i4hxw1XnfzUDQBS_rIqo11sBg8wNwj_DO80qU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1597485469,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13vWnP0i4hxw1XnfzUDQBS_rIqo11sBg8wNwj_DO80qU/edit#gid=1597485469"
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "videoid",
              "fieldValue": "={{ $('If').item.json.id.videoId }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Save videoid",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        1184,
        -16
      ],
      "id": "5b453ef5-5a28-44bf-a61d-e636bb5aa9c9",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PlQLiimNI8sJ6Z77",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Get Chat IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many videos": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get Existing videoids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Chat IDs": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get Existing IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing IDs": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If New ID": {
      "main": [
        [
          {
            "node": "Save Chat ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Save videoid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "If New ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing videoids": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a8efa6872bb7364de58e32a9db0cc334f54932c195421f58e7bc6aa8aac87a6f"
  }
}